@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --dark-green: hsl(153, 100%, 29%);
  --light-green: hsl(153, 78%, 46%);
  --light-gray: hsl(0, 0%, 95%);
  --separator: hsl(0, 0%, 75%);
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  background-color: var(--light-gray);
  font-family: 'Roboto', sans-serif;
  scroll-snap-type: y proximity;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section {
  width: 100vw;
  height: 100vh;
  /* scroll-snap-type: y mandatory; */
  scroll-snap-align: start;
}

/* ========================================================================== */
/* SECTION 1 */
/* ========================================================================== */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.section1 h1 {
  z-index: 100;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.section1 video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Semi-transparent black overlay over the Hero video */
.section1::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* ========================================================================== */
/* SECTION 2 */
/* ========================================================================== */
.section2 {
  display: flex;
}
.s2-leftside {
  width: 33%;
  background: border-box center no-repeat url('./assets/leaf-rain.png');
}

.s2-rightside {
  display: grid;
  grid-template-areas:    /* Areas must be rectangular, no L-shape */
    'header header header'
    'detail1 separator detail2';
  align-items: center;
  justify-content: center;

  width: 66%;
  text-align: center;
}
.header {
  grid-area: header;
  margin-top: 4rem;
}
.is-inViewport {
  /* opacity: 1 !important; */
  transform: translateX(100px);
  visibility: visible !important;
}
.header span {
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
#grid-title {
  /* opacity: 0; */
  /* transform: translateX(100px); */
  visibility: hidden;
  transition: all 1s ease-in-out;
}
/* Highlight effect under the Section2 Grid Title */
#grid-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  z-index: -1;

  background-color: var(--light-green);
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;

  transform: skewX(-15deg);
}
.detail {
  align-self: flex-start;
  padding: 0 5rem;

  font-size: 1.2rem;
  font-weight: 300;
}
.detail1 {
  grid-area: detail1;
}
.detail2 {
  grid-area: detail2;
}
.separator {
  grid-area: separator;
  align-self: flex-start;

  width: 0.5px;
  height: 30%;
  margin-top: 2rem;
  padding: 0.5px;

  background-color: var(--separator);
}

/* ========================================================================== */
/* SECTION 3 */
/* ========================================================================== */
.section3 {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: hsl(153, 77%, 17%);
}
i.fas {
  color: hsl(153, 94%, 27%);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  width: 18rem;
  padding: 4rem 1rem;

  background: #efefef;
  border: 1px solid #969696;
  box-shadow: 0px 15px 20px 2px hsla(0, 0%, 0%, 0.25);
  border-radius: 20px;

  transform: translate(-50%, -50%);

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  /* animation: undefined-easeOutElastic; */
  /* animation-duration: 3s;
  animation-name: undefined-easeOutElastic; */
}
.separator2 {
  height: 1px;
  width: 40%;
  margin: auto;

  background-color: var(--separator);
}
.card h2,
.separator2 {
  margin-bottom: 2rem;
}
.card p {
  text-align: center;
}

.card-left {
  opacity: 0.8;
  cursor: pointer;
  transform: translate(-130%, -50%);
}
.card-left:hover {
  transform: translate(-130%, -50%) scale(1.05);
}

.card-middle {
  z-index: 10;
  transform: translate(-50%, -60%);
}

.card-right {
  opacity: 0.8;
  cursor: pointer;
  transform: translate(30%, -50%);
}
.card-right:hover {
  transform: translate(30%, -50%) scale(1.05);
}

/* ========================================================================== */
/* SECTION 4 */
/* ========================================================================== */
.section4 {
  display: flex;
}

.s4-leftside {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 66%;
}
.s4-leftside h2 {
  margin-top: 2rem;

  color: var(--dark-green);
  font-size: 2rem;
}

.grid-adventures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  width: 80%;
  height: 60%;
  margin-top: 3rem;
}
.grid-item {
  width: 100%;

  background: no-repeat center/cover;
  border: 1px solid var(--separator);
  box-shadow: 0px 15px 20px 2px hsla(0, 0%, 0%, 0.25);
  border-radius: 20px;

  filter: contrast(80%);
  transition: all 0.3s linear;
}
.grid-item:hover {
  transform: scale(105%);
  filter: contrast(100%);
}

.s4-rightside {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;
  background-color: hsl(154, 23%, 12%);
}
.s4-rightside img {
  /* object-fit: contain; */
  width: 100%;
  height: 45%;
}
.s4-rightside h2 {
  margin-top: 0.5rem;
  color: var(--dark-green);
}
.s4-rightside p {
  margin-top: 0.5rem;
  padding: 0 1rem;

  color: var(--light-gray);
  font-weight: 300;
}
.s4-rightside a {
  text-decoration: none;
  padding: 1rem 2rem;

  background-color: var(--dark-green);
  color: var(--light-gray);

  font-weight: 800;
  border-radius: 20px;
}
